<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700">
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 62.5% ;
        font-family: 'Poppins', sans-serif;
    }
    .header{
        font-size: 2rem;
        padding: 4rem;
    }
    .menu-options, .topics{
        padding: 2rem;
    }
    .menu{
        background-color: rgb(255, 186, 186);
        padding: 2rem 2rem;
        font-size: 1.5rem;
    }
   
    
</style>
<body>

    <div class="menu">
        <div class="menu-btn">
            Open
        </div>
    </div>
    <hr>

    {% block content %}

    {% endblock %}
    
</body>
</html>